$primaryColor: #000000;
$secondaryColor: #7a7878;
$tertiaryColor: #f3f3f3;
$quaternaryColor: rgb(150, 55, 55);
$quinaryColor: rgb(40, 107, 40);
$backgroundLight: #cacaca;
$backgroundDark: darkslategray;
$fontPrimary: "Times New Roman";
$fontSecondary: Arial;
$fontLarge: 2.5rem;
$fontMed: 1.6rem;
$fontSm: 1rem;
$fontBold: bold;

html {
  font-size: 10px;
}

body {
  background-color: $backgroundLight;
  text-align: center;
  h1 {
    font-family: $fontPrimary;
    font-size: 3.2rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: $backgroundDark;
  color: $tertiaryColor;
  border: 1px solid $secondaryColor;
  box-shadow: 5px 5px 5px $secondaryColor;
  padding: 10px;
  border-radius: 8px;
  width: 400px;
  height: auto;
  text-align: start;
  &__header {
    font-size: $fontLarge;
    font-family: $fontPrimary;
    font-weight: $fontBold;
    color: $primaryColor;
    background-color: $tertiaryColor;
    padding: 10px;
    border-bottom: 1px solid $primaryColor;
  }
  &__body {
    padding: 10px;
    font-family: $fontSecondary;
    font-size: $fontMed;
  }
  &__button {
    background-color: $quinaryColor;
    width: 75px;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &--cancel {
      background-color: $quaternaryColor;
    }
  }
  &__footer {
    font-size: $fontSm;
    text-align: end;
  }
}
