// Primary Colors
$primary-color: #003566;
$secondary-color: #001d3d;
$accent-color: #ffc300;

// Text Colors
$text-primary: #ffc300;
$text-secondary: #ff6e1a;
$text-inverse: #fff;

// Background Colors
$background-primary: #ffd60a;
$background-secondary: #003566;
$background-accent: #001d3d;

// Utility Colors
$link-color: $primary-color;
$link-hover-color: darken($text-primary, 10%);
$border-color: #000000;
$box-shadow-color: #ffbf10;
$box-shadow-secondary-color: #000000;

// Button Colors

