body {
  background-image: linear-gradient(
    #ff2407,
    #ffbf10
  ); // Color gradient courtesy of w3schools.com
  height: 100vw;
  margin: 0;
}

.header {
  @include flex-layout-alt;
  padding: 0px 15px;
  background-color: $background-secondary;
  color: $text-primary;
  border: 1px solid $border-color;
  box-shadow: 5px 5px 5px $box-shadow-color;
  &__nav {
    ul {
      @include flex-layout;
      list-style: none;
      a {
        color: $text-primary;
        @include font-style(Arial, 1.5rem, 1.9rem);
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $link-hover-color;
          transition: color 0.2s ease;
        }
      }
    }
  }
}

.main-content {
  margin-top: 120px;
  margin-left: 5px;
  width: 50%;
  padding: 15px;
  padding-top: 0;
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $background-secondary;
  color: $text-primary;
  box-shadow: 5px 5px 5px $box-shadow-color;
  &__card-container {
    @include flex-layout;
    flex-wrap: wrap;
  }
  &__card {
    background-color: $background-accent;
    border: 1px solid $border-color;
    box-shadow: 5px 5px 5px $box-shadow-secondary-color;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    height: auto;
    text-align: start;
  }
}

.card-btn-container{
    @include flex-layout-alt
}

.card-btn{
    @include button-style($primary-color);
}

.footer {
  @include flex-layout;
  margin-top: 200px;
  height: 4rem;
  background-color: $background-secondary;
  color: $text-primary;
}
