body {
  background-color: $background-primary;
  height: auto;
  margin: 0;
}

.main-content {
  margin: auto;
  margin-top: 120px;
  width: 90%;
  padding: 15px;
  padding-top: 0;
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $background-secondary;
  color: $text-primary;
  box-shadow: 5px 5px 5px $box-shadow-color;
  &__card-container {
    @include flex-layout;
    flex-wrap: wrap;
  }
  &__card {
    background-color: $background-accent;
    border: 1px solid $border-color;
    box-shadow: 5px 5px 5px $box-shadow-secondary-color;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    height: auto;
    text-align: start;
    gap: 15px;
    ol {
      li {
        margin: 10px 0px;
      }
    }
    .card-header {
      color: $text-secondary;
    }
    .card__btn-container {
      @include flex-layout-alt;
    }

    .card__footer {
      @include flex-layout;
    }
  }
}

.footer {
  @include flex-layout;
  margin-top: 200px;
  height: 4rem;
  background-color: $background-secondary;
  color: $text-primary;
}
