.header {
  @include flex-layout-alt;
  padding: 0px 15px;
  background-color: $background-secondary;
  color: $text-primary;
  border: 1px solid $border-color;
  box-shadow: 5px 5px 5px $box-shadow-color;
  &__nav {
    ul {
      @include flex-layout;
      list-style: none;
      a {
        color: $text-primary;
        @include font-style(Arial, 1.5rem, 1.9rem);
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $link-hover-color;
          transition: color 0.2s ease;
        }
      }
    }
  }
}