html {
  @include font-style(Arial, 10px, 14px);
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3{
    font-size: 1.6rem;
    font-weight: bold;
}

h4{
   font-size: 1.3rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.9rem;
}
